body{
    display:flex;
    align-items:center;
    justify-content:center;
   
}


form{
    margin: 10px;
    background-color:#26e6ff;
    border: 12px;
    padding: 5px;
    font-size: 20px;
    left: 12px;
    
}